/* Your CSS Code here. */
table{
	border:1px solid black;
}
th{
	border:1px solid black;
}
tr{
	border:1px solid black;
}
td{
	border:1px solid black;
}
.four{
	border:1px solid black;
	display:grid;
	position:bottom-right
}
.three{
	border:1px solid black;
	display:grid;
	position:bottom-right
}
.two{
	border:1px solid black;
	display:grid;
	position:bottom-right
}
.one{
	border:1px solid black;
	display:grid;
	position:bottom-right
}