/* Your CSS Code here. */
body{
	margin:50px;
	text-align:center;
	}
table{
	border:2px solid black;
	margin: 20px, auto;
}
table table{
	border:2px solid black
	margin: 10px, auto;
}
th{
	padding:10px;
	border:2px solid black
tr{
	text-align:center;
	padding:10px;
	border:2px solid black
}
td{
	text-align:center;
	padding:10px;
	border:2px solid black
}